/* Медиа-запрос для экранов шириной меньше 768px */
@media (width <= 768px) {
  .content {
    grid-template-areas:
      'logo logo logo'
      '. game-board aside__toolbar';
    grid-template-rows: 74px auto;
    justify-items: start;
  }

  .content__hint-error-visible {
    grid-template-areas:
      'logo  hint-error  hint-error'
      '. game-board aside__toolbar';
    grid-template-columns: auto;
    gap: 0;
  }

  .content__hint-error-visible .hint-error__container {
    justify-self: start;
    padding-inline-end: 72px;
  }

  .content__hint-error-visible .game-board {
    align-items: flex-start;
  }

  .popup {
    left: 0;
    bottom: 39%;
    padding: 44px 10px 46px 8px;
  }

  .toast {
    bottom: 26%;
  }

  .logo__image {
    padding-inline: 15px;
  }

  .aside__toolbar {
    padding-block-start: 30px;
  }

  .game-board {
    gap: 18px;
    padding-inline-start: 69px;
  }

  .game-board__row {
    gap: 15px;
  }

  .game-board__cell {
    inline-size: 100px;
    block-size: 108px;
  }

  .keyboard__row {
    padding-inline-start: 0;
  }
}

/* Медиа-запрос для экранов шириной меньше 735px */
@media (width <= 735px) {
  .content {
    grid-template-areas: 'logo game-board aside__toolbar';
    grid-template-rows: auto;
  }

  .content__hint-error-visible {
    grid-template-areas:
      'logo game-board aside__toolbar aside__toolbar'
      'hint-error game-board aside__toolbar aside__toolbar';
    grid-template-columns: minmax(100px, 175px) 3fr auto 0;
  }

  .content__hint-error-visible .hint-error__container {
    margin-inline: 8px 19px;
    padding-inline: 8px 0;
    padding-block: 8px 10px;
  }

  .content__hint-error-visible .hint-error__text {
    font-size: 15px;
  }

  .content__hint-error-visible .logo__image {
    padding-inline-end: 91px;
  }

  .content__hint-error-visible .game-board__row {
    justify-content: flex-end;
    align-items: flex-start;
  }

  .content__hint-error-visible .aside__toolbar {
    padding-block-start: 0;
  }

  .content__hint-error-visible .game-board,
  .game-board__row {
    inline-size: auto;
  }

  .content__hint-error-visible .game-board {
    padding-inline-end: 20px;
  }

  .popup {
    left: 1%;
    bottom: 32%;
    max-inline-size: 436px;
    max-block-size: 235px;
    padding: 28px 1px 27px 5px;
  }

  .toast {
    left: 0%;
    bottom: 0%;
  }

  .logo_container {
    padding-inline-start: 0;
  }

  .logo__image {
    padding-inline-start: 17px;
    padding-block: 12px 18px;
  }

  .aside__toolbar {
    margin-block-start: 60px;
    padding-block-start: 0;
  }
  .game-board {
    padding: 0;
  }

  .game-board,
  .game-board__row {
    gap: 11px;
    inline-size: 100%;
    justify-content: center;
  }

  .game-board__cell {
    inline-size: 70px;
    block-size: 65px;
  }

  .keyboard__button:not(.keyboard__button-check, .keyboard__button-delete) {
    block-size: calc(46px - (46 - 58) * ((100vw - 440px) / (735 - 440)));
    inline-size: calc(34px - (34 - 53) * ((100vw - 440px) / (735 - 440)));
    font-size: clamp(1.25rem, -0.6144rem + 6.7797vw, 2.5rem);
  }
}

/* Медиа-запрос для экранов шириной меньше 600px */
@media (width <= 600px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'logo aside__toolbar'
      'game-board game-board';
  }

  .content__hint-error-visible {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 31px 60px 15px 1fr;
    grid-template-areas:
      'logo aside__toolbar'
      '. .'
      'hint-error hint-error'
      '. .'
      'game-board game-board';
  }

  .content__hint-error-visible .hint-error__container {
    block-size: 100%;
    align-items: center;
    padding-inline-end: 40px;
  }

  .content__hint-error-visible .game-board {
    margin: 0;
    padding: 0;
  }

  .content__hint-error-visible .game-board,
  .game-board__row {
    inline-size: 100%;
  }

  .content__hint-error-visible .game-board__row {
    justify-content: center;
  }

  .content__hint-error-visible .logo_container {
    inline-size: 100%;
    margin-block-end: -24px;
    padding-inline: 0;
  }
  .popup {
    inline-size: 89%;
    padding-inline: 0;
  }
  .popup::backdrop {
    padding-inline: 22px;
  }

  .logo__image {
    margin-block-start: 22px;
  }
  .game-board {
    margin-block-start: 105px;
  }

  .aside__toolbar {
    flex-direction: row;
    margin-block-start: 50px;
    align-items: center;
    gap: 8px;
  }

  .keyboard {
    gap: 9px;
  }

  .keyboard__row {
    gap: 3px;
  }
  .keyboard__button-delete {
    inline-size: 49px;
    block-size: 46px;
  }

  .keyboard__button-check {
    inline-size: 57px;
    block-size: 46px;
  }
}

/* Медиа-запрос для экранов шириной меньше 440px */
@media (width <= 440px) {
  .content__hint-error-visible .hint-error__container {
    margin-inline-start: 17px;
  }

  .content__hint-error-visible .game-board__row {
    padding-inline: 0;
    gap: 13px;
  }

  .logo__image {
    margin-block-start: 0;
    padding-inline-start: 6px;
    padding-block-start: 7px;
  }

  .toast {
    left: 2%;
    bottom: 77%;
  }

  .aside__toolbar {
    align-items: flex-start;
    margin: 0;
    padding: 0;
    gap: 0;
  }

  .game-board {
    padding: 0;
    margin-block-start: 82px;
  }

  .game-board__cell {
    inline-size: 70px;
    block-size: 80px;
  }

  .game-board__row {
    justify-content: center;
    gap: 13px;
  }

  .keyboard {
    margin-block-start: 80px;
  }

  .keyboard__row {
    gap: 2px;
  }
}
