:root {
  --accent-color: #c1ef5d;
  --disabled-color: #a39898;
  --hint-color: #fff;
  --error-color: #cf3f3f;
  --main-background-color: #191616;
  --icon-color: #fff;
}

.content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  justify-items: center;
  grid-template-areas: 'logo game-board aside__toolbar';
  max-inline-size: 100%;
  min-inline-size: 440px;
  position: relative;
}

/* Когда появилась ошибка - структура grid контейнера должна тоже меняться */
.content__hint-error-visible {
  position: relative;
  grid-template-columns: auto minmax(150px, 230px) auto 1fr;
  gap: 16px;
  grid-template-areas: 'logo hint-error game-board aside__toolbar';
}

.content__hint-error-visible .game-board {
  padding-inline-start: 0;
}

/* Логотип */
.logo__container {
  grid-area: logo;
  padding-inline-start: 7px;
}

.logo__image {
  width: 48px;
  height: 40px;
  transition: filter 0.5s;
}

.logo__image:hover {
  filter: drop-shadow(0px 4px 4px #c1ef5d);
  transition: filter 0.5s;
}

/* Панель кнопок */
.aside__toolbar {
  display: flex;
  flex-direction: column;
  order: 3;
  align-items: flex-end;
  inline-size: 100%;
  gap: 20px;
  padding-block-start: 31px;
  padding-inline-end: 22px;
  grid-area: aside__toolbar;
}

.aside__toolbar-button {
  block-size: 55px;
  aspect-ratio: 1/1;
  background: none;
  border: none;
  color: var(--icon-color);
  transition: filter 0.3s;
}

.aside__toolbar-button:hover {
  color: var(--accent-color);
  filter: drop-shadow(0 0 10px currentColor);
  transition: filter 0.3s;
}

.aside__toolbar-button:active {
  filter: drop-shadow(0 0 0 currentColor);
}

.aside__toolbar-button-link-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.aside__toolbar-button-link-enabled {
  opacity: 1;
  pointer-events: all;
}

/* Игровое поле */
.game-board {
  display: flex;
  grid-area: game-board;
  align-items: center;
  flex-direction: column;
  inline-size: 100%;
  gap: 13px;
  padding-inline-start: 65px;
}

.game-board__row {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.game-board__cell {
  display: flex;
  block-size: 78px;
  inline-size: 77px;
  background: #19151500;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.game-board__input {
  block-size: 100%;
  inline-size: 100%;
  background-color: transparent;
  outline: none;
  border: 5px solid #a39898;
  border-radius: 10px;
  text-align: center;
  font-family: 'KellySlab', Arial, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
}

.game-board__input:disabled {
  border: 5px solid #474747;
}

/* Клавиатура */
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-block-start: 17px;
  margin-inline: auto;
  max-inline-size: fit-content;
  min-block-size: 155px;
}
.keyboard__row {
  display: flex;
  gap: 4px;
  padding-inline-start: 44px;
}
.keyboard__row:last-child {
  justify-content: flex-end;
  align-items: center;
  inline-size: 100%;
}

.keyboard__button {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 58px;
  inline-size: 53px;
  border-radius: 10px;
  background-color: var(--disabled-color);
  background-repeat: no-repeat;
  background-position: center;
  border: 5px solid #000;
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.keyboard__button:hover {
  background-color: #7b7575;
}

.keyboard__button:active {
  background-color: #625b5b;
}

.keyboard__button-check {
  background-image: url(../images/check.svg);
}

/* Заблокированное состояние кнопки check  */
.keyboard__button-check-disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* Активное состояние кнопки check  */
.keyboard__button-check-enabled {
  background-color: var(--accent-color);
  border: currentColor;
}

.keyboard__button-check-enabled:hover {
  background-color: #96b94b;
}

.keyboard__button-check-enabled:active {
  background-color: #76913c;
}

.keyboard__button-delete {
  inline-size: 75px;
  background-size: 70% 70%;

  background-image: url(../images/delete.svg);
}

/* Цвета букв */

/* Буква есть в слове и стоит на нужном месте */
.input-correct {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  border: 2px solid var(--accent-color);
}

/* Буква есть в слове, но стоит не на своём месте */
.input-incorrect {
  background-color: var(--hint-color);
  color: var(--main-background-color);
  border: 2px solid var(--hint-color);
}

/* Буквы в слове нет */
.input-almost {
  background-color: var(--disabled-color);
  color: var(--hint-color);
  border: 2px solid var(--disabled-color);
}

/* Введенное слово не является существительным */
.input-error {
  background-color: var(--error-color);
  color: var(--icon-color);
  border: 2px solid var(--error-color);
}

.keyboard-correct {
  background-color: var(--accent-color);
}

.keyboard-almost {
  background-color: var(--disabled-color);
}

.keyboard-incorrect {
  background-color: var(--disabled-color);
  color: var(--hint-color);
}


/* Лоадер  */
.loader__container {
  display: flex;
  visibility: visible;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.loader__container.invisible .loader__element {
  animation-play-state: paused;
}

.loader__element {
  background-image: url('../images/loader.svg');
  inline-size: 203px;
  block-size: 194px;
  animation: loaderRotate 1s infinite linear;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Окно результата игры */
.game-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  block-size: calc(100dvb - 10px);
}

.game-result__content {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block-end: 90px;
  padding-inline-end: 50px;
}

.game-result__stars {
  display: flex;
  gap: 4px;
  padding-block-end: 38px;
  align-items: flex-end;
}

.game-result__star {
  color: #665e5e;
  inline-size: 111px;
  block-size: 103px;
  transition: filter 0.3s;
}

.game-result__star-lose {
  color: #cf3f3f;
}

.game-result__star-win {
  color: #c1ef5d;
}

.game-result__text {
  color: var(--icon-color);
  font-size: 50px;
  text-align: center;
}

.game-result__container-button {
  inline-size: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 8px 24px;
}

.game-result__button {
  padding: 10px 30px 8px 29px;
  background-color: #665e5e;
  color: var(--icon-color);
  font-size: 40px;
  border-radius: 10px;
  border: none;
}

.game-result__button:hover {
  background-color: #7b7575;
}

.game-result__button:active {
  background-color: #625b5b;
}

/* Скрыть элемент с сохранением места на странице */
.invisible {
  visibility: hidden;
  animation-play-state: paused;
}

/* Полностью скрыть элемент */
.hidden {
  display: none;
}
