:root {
  --accent-color: #c1ef5d;
  --disabled-color: #665e5e;
  --hint-color: #fff;
  --main-background-color: #222020;
  --icon-color: #fff;
}

.page {
  margin-block-start: 10px;
  background-color: var(--main-background-color);
}

.content {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: 'logo game-board aside__toolbar';
}

/* Логотип */
.logo__image {
  grid-area: logo;
  padding-inline-start: 10px;
}

/* Панель кнопок */
.aside__toolbar {
  display: flex;
  flex-direction: column;
  order: 3;
  align-items: flex-end;
  gap: 41px;
  margin-block-start: 20px;
  margin-inline-end: 27px;
  grid-area: aside__toolbar;
}

.aside__toolbar-button {
  block-size: 45px;
  aspect-ratio: 1/1;
  color: var(--icon-color);
  background: none no-repeat;
  border: none;
}

.aside__toolbar-button-gift {
  background-image: url(../images/gift.svg);
}

.aside__toolbar-button-info {
  background-image: url(../images/info.svg);
}

.aside__toolbar-button-settings {
  background-image: url(../images/settings.svg);
}

.aside__toolbar-button-link {
  background-image: url(../images/link.svg);
}

/* Игровое поле */
.game-board {
  display: flex;
  grid-area: game-board;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}

.game-board__row {
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.game-board__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: calc(108px - (108 - 78) * ((100vw - 768px) / (1024 - 768)));
  inline-size: calc(100px - (100 - 77) * ((100vw - 768px) / (1024 - 768)));
  border-radius: 10px;
  background: #19151500;
  border: 5px solid #665e5e;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 50px;
}

/* Клавиатура */
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-block-start: 17px;
  margin-inline: auto;
  max-inline-size: fit-content;
}
.keyboard__row {
  display: flex;
  gap: 4px;
}
.keyboard__row:last-child {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.keyboard__button {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 58px;
  inline-size: 53px;
  border-radius: 10px;
  background-color: var(--disabled-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70% 70%;
  border: 5px solid #000;
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.keyboard__button:active {
  background-color: #453f3f;
}

.keyboard__button-check {
  border: 5px solid #fff;
  background-image: url(../images/check.svg);
}

.keyboard__button-delete {
  inline-size: 75px;
  border: 5px solid #fff;
  background-image: url(../images/delete.svg);
}

/* Цвета букв */

/* Буква есть в слове и стоит на нужном месте */
.cell-correct {
  background-color: var(--accent-color);
  color: var(--main-background-color);
  border: none;
}

/* Буква есть в слове, но стоит не на своём месте */
.cell-incorrect {
  background-color: var(--hint-color);
  color: var(--main-background-color);
  border: none;
}

/* Буквы в слове нет */
.cell-almost {
  background-color: var(--disabled-color);
  color: var(--hint-color);
  border: none;
}
